player-connection-mode=Listen
player-connection-guid=3209222706
player-connection-debug=0
player-connection-project-name=Final Project
player-connection-ip=192.168.1.12
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=472eb69eb57d4bc0afb1d44f8865f7b8
